
[CRAB]
jobtype = cmssw
###scheduler = remoteGlidein
scheduler = lsf
use_server = 0

[LSF]
queue = 8nh

[CMSSW]
datasetpath = None
pset = None
output_file = hzz4l_SpinCP_CRAB.root
total_number_of_events = 200
number_of_jobs = 200

[USER]
ui_working_dir=/afs/cern.ch/user/b/bonato/work/PhysAnalysis/HZZ4L/spin/SuperMELA/devel2/CMSSW_5_3_6/src/HZZ4L_Combination/CombinationPy/SignalSeparation/cards_HypTest_8TeV_MorV4_0m_TestGrid/HCG/126/crabOutput/
script_exe = hzz4l_SpinCP_CRAB.sh
additional_input_files = combine,floatMu.root
return_data = 1

